.notification-container {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    max-width: 284px;
    &:before {
        content: "";
        height: 100%;
        width: 3px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .notification-message {
        padding: 13px 35px 12px 42px;
        span {
            font-size: 0.8rem;
            line-height: 1.2;
            letter-spacing: 0.03em;
            @include ptSansBold();
        }
        p {
            @include ptSansRegular();
            letter-spacing: 0em;
            line-height: 1.2;
            font-size: 0.7rem;
            margin: 0;
        }
        &:before {
            font-family: "Material Icons";
            font-size: 1.6rem;
            line-height: 1;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }
    }
    .notification-close {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        span {
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
    &.success {
        .notification-message {
            &:before {
                content: "check_circle";
            }
        }
    }
    &.info {
        .notification-message {
            &:before {
                content: "info";
            }
        }
    }
    &.error {
        .notification-message {
            &:before {
                content: "report_problem";
            }
        }
    }
}