.image-div {
    width: 100%;
    height: auto;
    padding-bottom: 40px;

    img {
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        max-width: 280px;
        display: block;
    }
}

#labelFileName {
    display: none;
}

.material-icons {
    font-size: 130px !important;
    display: block;
    margin: auto;
}

.upload-container {
    padding-bottom: 40px;
}

.button-upload-picture {
    float: right;
    margin-bottom: 25px;
    margin-right: 10px;
}
