<div class="section-title">
    <i class="icon-placeholders"></i>
    <span>Section Titl1e</span>
</div>
<div class="save-edit-container">
    <button class="save-btn" *ngIf="!workflowId"  (click)="save()">Save</button>
    <button class="save-btn" *ngIf="workflowId"  (click)="update()">Update</button>
</div>
<div class="card">
    <div class="custom-tabs second-tabs">
        <app-workflow-edit-navigation></app-workflow-edit-navigation>
        <div class="tab-content">
            <div class="tab-inner-container">
                <div class="form-container" *ngIf="workflowForm" >
                    <div class="form-section" [formGroup]="workflowForm" >
                        <span>General</span>
                        <div class="form-group">
                            <div class="error-message">
                                <strong>Error</strong>
                                Error text Error text Error text Error text Error textError textError text
                            </div>
                            <label for="workflowName">Name</label>
                            <input type="text" id="workflowName" formControlName="name" >
                        </div>
                        <div class="form-group">
                            <label for="workflowDisplayName">Display Name</label>
                            <input type="text" id="workflowDisplayName" formControlName="displayName">
                        </div>
                        <div class="form-group">
                            <label class="control custom-checkbox">Use CheckIn CheckOut
                                <input type="checkbox" formControlName="useCheckInCheckOut"  />
                                <div class="control-indicator"></div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control custom-checkbox">Enabled
                                <input type="checkbox" formControlName="enabled" />
                                <div class="control-indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
