<div class="position-relative d-flex flex-column" [busyIndicator]="isBusy" [overlay]="true">
    <div *ngIf="!passwordChangedSuccessfully">
        <div class="title-layout">
            <h2 >{{ !isTokenValid ? 'Ops!' : 'Enter a new password' }}</h2>
        </div>
        <div *ngIf="!isTokenValid" class="mb-2 w-320px text-center" >
            The request for change password is invalid or token has been expired. Please make another request <a
                class="link font-weight-bolder" routerLink="/authenticate/forgot-password">here</a> or contact
            administrators.
        </div>
        <form *ngIf="isTokenValid" #form="ngForm" (ngSubmit)="form.valid && verifyPasswordMatch() && changePassword()"
            [class.was-validated]="errors?.length || (form.invalid && form.submitted && (form.dirty || form.touched))"
            class="needs-validation login" novalidate>
            <div>
                <div class="mb-2 d-flex flex-column">
                    <div class="form-group">
                        <label class="text-neutral-6"  for="password">Password:</label>
                        <div class="input-icon right-icon">
                            <i class="fa fa-lock"></i>
                            <input required minlength="5" #passwordFormControl="ngModel" autofocus type="password"
                            
                                [(ngModel)]="model.password" placeholder="Please enter your password"
                                class="form-control" name="password" id="password">
                        </div>
                      
                    </div>

                    <div class="form-group">
                        <label class="text-neutral-6" for="repeatPassword" >Repeate password:</label>
                        <div class="input-icon right-icon">
                            <i class="fa fa-lock"></i>
                            <input #repeatPasswordFormControl="ngModel" autofocus required type="password"
                                [(ngModel)]="model.repeatPassword"  placeholder="Please enter your password"
                                class="form-control" name="repeatPassword" id="repeatPassword">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary align-self-center" >Change My Password</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="passwordChangedSuccessfully" class="title-layout">
        <h2 >Password Changed Successfully</h2>
        <div  class="mb-2 text-center" *ngIf="passwordChangedSuccessfully">
            You are successfully changed your password. <br/>Now you can <a routerLink="/authenticate" [queryParams]="{'not-me': true }"
                class="link font-weight-bolder">sign in.</a>
        </div>
    </div>

    <div class="mt-3">
        <p  class="font-size-15 text-center"><a class="font-weight-bolder" routerLink="/authenticate">Back to Login
                Page</a></p>
    </div>
</div>