<div class="error-pages d-flex mt-5">
    <div>
        <div class="d-flex align-items-center">
            <div class="error-code">404</div>
        </div>
        <h5 class="title">It looks like nothing was found at this location</h5>
        <p class="text">Why not check out something else?</p>
        <div>
            <a routerLink="/users" class="p-0 btn btn-link action-link primary  mr-3">User Managment</a>
            <a routerLink="/cms" class="p-0 btn btn-link action-link primary  mr-3">CMS Managment</a>
            <a routerLink="/" class="p-0 btn btn-link action-link primary">Settings</a>
        </div>
        <div class="mt-3">
            <a routerLink="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>