<div class="save-edit-container">
    <button class="save-btn" routerLinkActive="active" routerLink="../site/create">Add Site</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="table">
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.displayName}}</td>
    </ng-container>

    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="Domain name">
        <th mat-header-cell *matHeaderCellDef> Domain Name </th>
        <td mat-cell *matCellDef="let element"> {{element.domainName}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['../site/edit', element.id]"
                routerLinkActive="active"> <span class="material-icons">
                    edit
                </span></a> </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
            <a routerLinkActive="active" (click)="deleteSite(element)">
                <span class="material-icons">
                    delete
                </span>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
