<div class="position-relative" [busyIndicator]="isBusy" [overlay]="true">
    <form *ngIf="!successfullySent" #form="ngForm" (ngSubmit)="antiBotProtectionSucceeded && form.valid && sendInstructions()"
        [class.was-validated]="errors?.length || (form.invalid && form.submitted && (form.dirty || form.touched))"
        class="needs-validation login" novalidate>
        <div>
            <div class="title-layout">
                <h2 >Password recovery wizard</h2>
                <p   class="font-size-15">Please type your email in order that we can send to you password reset
                    instructions.
                </p>
            </div>
            <div class="mb-2 notification error" *ngFor="let error of errors">
                {{error}}
            </div>
            <div class="mb-2 d-flex flex-column">
                <div class="form-group">
                    <label class="text-neutral-6" for="email">Email:</label>
                    <div class="input-icon right-icon">
                        <i class="fa fa-user"></i>
                        <input required minlength="5" #emailFormControl="ngModel" [email]="true" autofocus required
                            type="email" [(ngModel)]="email"  placeholder="Please enter your email" class="form-control"
                            name="email" id="email">
                    </div>
                </div>
                <button type="submit"  class="btn btn-primary align-self-center">Send Instructions</button>
                <div class="mt-3">
                    <p class="font-size-15 text-center" >I already have an account.<br>
                        <a class="font-weight-bolder" routerLink="/authenticate">Back to Login Page</a></p>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="successfullySent" class="w-350px">
        <div class="title-layout">
            <h2 >You are done!</h2>
            <div class="font-size-15">
                <p  *ngIf="!instructionsResendSent">The instruction for recovering your password has been successfully sent to the email
                    <b>{{email}}</b>.
                </p>
                <p  *ngIf="!instructionsResendSent">Please check your email and follow the proposed instructions.
                    If you don't receive an email click <a class="link" (click)="sendInstructions(true)">here</a> to
                    resend
                    or contact administrator. </p>
                <p   *ngIf="instructionsResendSent">
                    The instruction for reset password has been sent again to email: <b>{{email}}</b>. If you are not
                    able to see an email with instructions, please contact the administrator.
                </p>
            </div>
        </div>
        <div class="mt-3">
            <p class="font-size-15 text-center"><a class="font-weight-bolder"  routerLink="/authenticate">Back to Login
                    Page</a></p>
        </div>
    </div>
</div>