  <div class="mdl-container confirm-mdl">
    <div class="mdl-header">
        <span class="mdl-title">Delete the file?</span>
        <span class="material-icons">close</span>
    </div>
    <div class="mdl-body">
        <p>Are you sure you want to delete "Home"?</p>
    </div>
    <div class="mdl-footer">
        <div class="btn-container">
            <button class="primary-btn" (click)="close(true)">OK</button>
            <button class="primary-btn white-btn" (click)="close(false)">Cancel</button>
        </div>
    </div>
</div>
